[Desktop Entry]
Encoding=UTF-8
Name=KBounce
Name[x-test]=xxKBouncexx

Type=Application
Exec=kbounce -caption "%c"
DocPath=kbounce/index.html
Icon=kbounce

GenericName=Bounce Ball Game
GenericName[fr]=Jeu de balles rebondissantes
GenericName[ja]=跳ねるボールのゲーム
GenericName[x-test]=xxBounce Ball Gamexx
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
