[Desktop Entry]
Encoding=UTF-8
Name=KBounce
Name[x-test]=xxKBouncexx

Type=Application
Exec=kbounce -caption "%c"
DocPath=kbounce/index.html
Icon=kbounce

GenericName=Bounce Ball Game
GenericName[x-test]=xxBounce Ball Gamexx
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
