[Desktop Entry]
Encoding=UTF-8
Name=KBounce
Name[eo]=Saltpilko
Name[sv]=Kstuds
Name[ven]=U tshina ha K

Type=Application
Exec=kbounce %i %m -caption "%c"
DocPath=kbounce/index.html
Icon=kbounce

GenericName=Arcade Game
GenericName[ar]=لعبة أركاد
GenericName[be]=Аркадная гульня
GenericName[bg]=Игра в Галерия със сводове
GenericName[bs]=Arkadna igra
GenericName[cs]=Arkádová hra
GenericName[da]=Arkade-videospil
GenericName[de]=Arkade-Spiel
GenericName[el]=Παιχνίδι Arcade
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade Jokoa
GenericName[fi]=Arcade peli
GenericName[fr]=Un jeu d'arcade
GenericName[he]=משחק Arcade
GenericName[hu]=ügyességi
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes Spēle
GenericName[mt]=Logħba tal-arcades
GenericName[nl]=arcade-spel
GenericName[nn]=Arkadespel
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]= Arcade
GenericName[ro]=Un joc de aventuri
GenericName[ru]=аркада
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sv]=Arkadspel
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[ven]=Mutambo wa Akheidi
GenericName[xh]=Umdlalo we Arcade
GenericName[xx]=xx
GenericName[zh_CN]=街机游戏
GenericName[zu]=Arcade Umdlalo
X-DCOP-ServiceType=Multi
