[KGameTheme]
VersionFormat=1
Name=Egyptian Bounce
Description=KBounce, Egyptian style.
FileName=egyptian_bounce.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=egyptian_bounce.png

