[KGameTheme]
VersionFormat=1
Name=Egyptian Bounce
Name[ca]=Bounce egipci 
Name[da]=Egyptisk bounce
Name[de]=Ägyptisch
Name[el]=Αιγυπτιακή αναπήδηση
Name[es]=Rebote egipcio
Name[et]=Egiptuse sära
Name[fr]=KBounce égyptien
Name[gl]=Bounce exipcio
Name[it]=Rimbalzi egizi
Name[lv]=Ēģiptes Bounce
Name[nds]=Ägyptsch Springbäll
Name[nl]=Egyptische bounce
Name[nn]=Egyptisk sprettball
Name[pt]=Bounce Egípcio
Name[pt_BR]=Bounce egípcio
Name[ru]=Египетские шарики
Name[sl]=Egipt
Name[sr]=Египатско одбијање
Name[sr@latin]=Egipatsko odbijanje
Name[sv]=Egyptisk Bounce
Name[uk]=Єгипетський стрибок
Name[x-test]=xxEgyptian Bouncexx
Name[zh_CN]=埃及弹球
Name[zh_TW]=埃及彈跳
Description=KBounce, Egyptian style.
Description[ca]=KBounce, estil egipci.
Description[da]=KBounce, egyptisk stil.
Description[de]=Das ägyptische Design für KBounce.
Description[el]=KBounce, Αιγυπτιακό στυλ.
Description[es]=KBounce, estilo egipcio.
Description[et]=KBounce Egiptuse stiilis.
Description[fr]=Thème égyptien KBounce.
Description[gl]=KBounce, ao estilo exipcio.
Description[it]=KBounce in stile egizio.
Description[lv]=KBounce, Ēģiptes stils.
Description[nds]=KBounce, ägyptsch Stil
Description[nl]=KBounce, Egyptische stijl.
Description[nn]=KBounce i egyptisk stil.
Description[pt]=KBounce, estilo Egípcio.
Description[pt_BR]=KBounce, estilo egípcio.
Description[ru]=KBounce, египетский стиль.
Description[sl]=KBounce v egipčanskem slogu.
Description[sr]=К‑одбој у египатском стилу
Description[sr@latin]=K‑odboj u egipatskom stilu
Description[sv]=Kbounce, egyptisk stil.
Description[uk]=KBounce, єгипетський стиль.
Description[x-test]=xxKBounce, Egyptian style.xx
Description[zh_CN]=KBounce，埃及风格。
Description[zh_TW]=KBounce，埃及風格
FileName=egyptian_bounce.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=egyptian_bounce.png

