[KGameTheme]
VersionFormat=1
Name=Strange Geometry
Name[el]=Περίεργη γεωμετρία
Name[es]=Extraña geometría
Name[ga]=Céimseata Aisteach
Name[gl]=Xeometría extrana
Name[ja]=奇妙な幾何学模様
Name[km]=ភូមិសាស្ដ្រ​ចម្លែក
Name[lv]=Dīvaina ģeometrija
Name[nds]=Snaaksch Geometrie
Name[pt]=Geometria Estranha
Name[pt_BR]=Geometria Estranha
Name[sv]=Underlig geometri
Name[uk]=Дивна геометрія
Name[x-test]=xxStrange Geometryxx
Name[zh_CN]=畸形几何
Name[zh_TW]=奇怪的形狀
Description=A simple high-contrast theme for those who like it clean.
Description[el]=Ένα απλό θέμα υψηλής αντίθεσης γι' αυτούς που επιθυμούν ένα καθαρό θέμα.
Description[es]=Un tema sencillo de alto contraste que da un aspecto limpio.
Description[ga]=Téama simplí ardchodarsnachta do dhaoine ar mhaith leo téamaí glana.
Description[gl]=Un tema sinxelo de alto contraste.
Description[ja]=高コントラストのシンプルできれいなテーマ
Description[km]=ស្បែក​ដែលមាន​ពន្លឺ​ខ្ពស់​សម្រាប់​អ្នក​ទាំងដែល​ចូលចិត្ត​ភាព​ស្អាត ។
Description[lv]=Vienkārša augsta kontrasta tēma, tiem kam patīk vienkāršība.
Description[nds]=En eenfach Hoochkontrast-Muster för Lüü, de dat püük möögt.
Description[pt]=Um tema simples e de alto contraste para os que gostam de temas limpos.
Description[pt_BR]=Um tema simples e de alto contraste para os que gostam de temas limpos.
Description[sv]=Ett enkelt tema med hög kontrast för de som gillar det rena.
Description[uk]=Проста висококонтрастна тема, для тих хто полюбляє, щоб все було чітко.
Description[x-test]=xxA simple high-contrast theme for those who like it clean.xx
Description[zh_CN]=为喜爱简洁风格的人设计的高对比度主题。
Description[zh_TW]=簡單的高反差的主題，給那些喜歡簡單乾淨的人。
FileName=kbounce.svg
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=geometry.png

