[KGameTheme]
VersionFormat=1
Name=Strange Geometry
Name[bs]=Čudna geometrija
Name[ca]=Geometria estranya
Name[ca@valencia]=Geometria estranya
Name[cs]=Podivná geometrie
Name[da]=Underlig geometri
Name[de]=Seltsame Geometrie
Name[el]=Περίεργη γεωμετρία
Name[en_GB]=Strange Geometry
Name[es]=Extraña geometría
Name[et]=Kummastav geomeetria
Name[eu]=Geometria bitxia
Name[fi]=Outo geometria
Name[fr]=Géométrie étrange
Name[ga]=Céimseata Aisteach
Name[gl]=Xeometría estraña
Name[hi]=अजीब ज्यामिति
Name[hne]=अजनबी ज्यामिति
Name[hu]=Geometria egyszerűen
Name[id]=Geometri Aneh
Name[it]=Geometra strana
Name[ja]=奇妙な幾何学模様
Name[kk]=Біртүрлі геометрия
Name[km]=រាង​ធរណីមាត្រចម្លែក
Name[ko]=수상한 도형
Name[lt]=Keista geometrija
Name[lv]=Dīvaina ģeometrija
Name[mr]=चमत्कारिक भूमिती
Name[nb]=Underlig geometri
Name[nds]=Snaaksch Geometrie
Name[nl]=Strange Geometry
Name[nn]=Rar geometri
Name[pl]=Dziwna geometria
Name[pt]=Geometria Estranha
Name[pt_BR]=Geometria estranha
Name[ro]=Geometrie stranie
Name[ru]=Странная геометрия
Name[sk]=Zvláštna geometria
Name[sl]=Nenavadna geometrija
Name[sq]=Gjeometri e Çuditshme
Name[sr]=Чудна геометрија
Name[sr@ijekavian]=Чудна геометрија
Name[sr@ijekavianlatin]=Čudna geometrija
Name[sr@latin]=Čudna geometrija
Name[sv]=Underlig geometri
Name[tr]=Garip Geometri
Name[uk]=Дивна геометрія
Name[wa]=Djeu di djeyometreye
Name[x-test]=xxStrange Geometryxx
Name[zh_CN]=畸形几何
Name[zh_TW]=奇怪的形狀
Description=A simple high-contrast theme for those who like it clean.
Description[bs]=Jednostavna tema visokog kontrasta za one koji vole čistoću.
Description[ca]=Un tema senzill en alt contrast per a aquells als que els agrada un aspecte net.
Description[ca@valencia]=Un tema senzill en alt contrast per a aquells als que els agrada un aspecte net.
Description[cs]=Jednoduchý vysoce kontrastní motiv pro ty, kteří ho mají rádi čistý.
Description[da]=Et simpelt tema med høj kontrast for dem der kan li' det enkelt.
Description[de]=Ein klares Design mit hohem Kontrast.
Description[el]=Ένα απλό θέμα υψηλής αντίθεσης γι' αυτούς που επιθυμούν ένα καθαρό θέμα.
Description[en_GB]=A simple high-contrast theme for those who like it clean.
Description[es]=Un tema sencillo de alto contraste que da un aspecto limpio.
Description[et]=Lihtne suure kontrastiga teema neile, kellele meeldib lihtsus.
Description[eu]=Kontraste handiko gai soil bat garbia atsegin dutenentzat.
Description[fi]=Yksinkertainen suuren kontrastin teema niille, jotka pitävät tahrattomuudesta.
Description[fr]=Un thème très contrasté et simple pour les personnes aimant les choses nettes
Description[ga]=Téama simplí ardchodarsnachta do dhaoine ar mhaith leo téamaí glana.
Description[gl]=Un tema visual sinxelo de alto contraste para os que queren as cousas limpas.
Description[hi]=एक सादी उच्च कंट्रास्ट शैली जो सफाई पसंद हों.
Description[hu]=Egyszerű, kontrasztos téma az egyszerűséget kedvelőknek.
Description[id]=Sebuah tema kontras tinggi untuk beberapa yang seperti bersih.
Description[it]=Un semplice tema ad alto contrasto per chi lo vuole essenziale.
Description[ja]=高コントラストのシンプルできれいなテーマ
Description[kk]=Бәрі де анық болуды жақсы көретіндер үшін контрасты нақыш.
Description[km]=ស្បែក​ដែល​មានកម្រិត​ពណ៌​ខ្ពស់​ធម្មតា​សម្រាប់​អ្នក​ដែល​ចូលចិត្ត​ភាព​ស្អាត ។
Description[ko]=깨끗한 보기를 좋아하는 간단한 고명도 테마.
Description[lv]=Vienkārša augsta kontrasta tēma tiem, kam patīk vienkāršība.
Description[mr]=ज्यांना स्वच्छ आवडते त्यांकरिता साधी व जास्त काँट्रास्ट असलेली शैली.
Description[nb]=Et enkelt høykontrast-tema for de som liker det rent.
Description[nds]=En eenfach Hoochkontrast-Muster för Lüü, de dat püük möögt.
Description[nl]=Een eenvoudig thema met veel contrast voor diegenen die het simpel willen.
Description[nn]=Enkelt og stilreint høgkontrast-tema
Description[pl]=Prosty wystrój o wysokim kontraście.
Description[pt]=Um tema simples e de alto contraste para os que gostam de temas limpos.
Description[pt_BR]=Tema simples de alto contraste para quem gosta de leveza.
Description[ro]=O tematică cu contrast mare pentru cei cărora le place să fie curat.
Description[ru]=Контрастная тема для любителей простоты.
Description[sk]=Jednoduchá téma s vysokým kontrastom.
Description[sl]=Preprosta tema z visokimi kontrasti za ljubitelje čistega izgleda.
Description[sq]=Një temë e thjeshtë me kontrast të lartë për ata që iu pëlqen pastërtia.
Description[sr]=Једноставна тема високог контраста за љубитеље чистих црта
Description[sr@ijekavian]=Једноставна тема високог контраста за љубитеље чистих црта
Description[sr@ijekavianlatin]=Jednostavna tema visokog kontrasta za ljubitelje čistih crta
Description[sr@latin]=Jednostavna tema visokog kontrasta za ljubitelje čistih crta
Description[sv]=Ett enkelt tema med hög kontrast för de som gillar det rena.
Description[tr]=Temiz iş sevenleri için basit bir yüksek kontrast teması
Description[uk]=Проста висококонтрастна тема, для тих хто полюбляє, щоб все було чітко.
Description[x-test]=xxA simple high-contrast theme for those who like it clean.xx
Description[zh_CN]=为喜爱简洁风格的人设计的高对比度主题。
Description[zh_TW]=簡單的高反差的主題，給那些喜歡簡單乾淨的人。
FileName=kbounce.svg
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=geometry.png

