[KGameTheme]
VersionFormat=1
Name=Oxygen
FileName=oxygen.svgz
Author=Johann Ollivier Lapeyre
AuthorEmail=johann.ollivierlapeyre@gmail.com
Preview=oxygen.png

