[KGameTheme]
VersionFormat=1
Name=Roads
Name[bs]=Putevi
Name[ca]=Carreteres
Name[ca@valencia]=Carreteres
Name[cs]=Cesty
Name[da]=Veje
Name[de]=Straßen
Name[el]=Δρόμοι
Name[en_GB]=Roads
Name[es]=Carreteras
Name[et]=Teed
Name[eu]=Errepideak
Name[fi]=Tiet
Name[fr]=Routes
Name[ga]=Bóithre
Name[gl]=Estradas
Name[hi]=रास्ते
Name[hu]=Utak
Name[id]=Jalan
Name[is]=Vegir
Name[it]=Strade
Name[kk]=Жолдар
Name[km]=ផ្លូវ 
Name[ko]=길
Name[lt]=Keliai
Name[lv]=Ceļi
Name[mr]=रस्ते
Name[nb]=Veier
Name[nds]=Straten
Name[nl]=Wegen
Name[nn]=Vegar
Name[pl]=Drogi
Name[pt]=Estradas
Name[pt_BR]=Estradas
Name[ro]=Drumuri
Name[ru]=Дороги
Name[sk]=Cesty
Name[sl]=Ceste
Name[sq]=Rrugët
Name[sr]=Путеви
Name[sr@ijekavian]=Путеви
Name[sr@ijekavianlatin]=Putevi
Name[sr@latin]=Putevi
Name[sv]=Vägar
Name[tr]=Yollar
Name[uk]=Дороги
Name[wa]=Voyes
Name[x-test]=xxRoadsxx
Name[zh_CN]=道路
Name[zh_TW]=Roads
Description=Roads, cones and wheels.
Description[bs]=Putevi, konusi i točkovi.
Description[ca]=Carreteres, cons i rodes.
Description[ca@valencia]=Carreteres, cons i rodes.
Description[cs]=Cesty, kužely a kola.
Description[da]=Veje, kegler og hjul.
Description[de]=Straßen, Kegel und Räder.
Description[el]=Δρόμοι, κώνοι και τροχοί.
Description[en_GB]=Roads, cones and wheels.
Description[es]=Carreteras, conos y ruedas.
Description[et]=Teed, rummud ja rattad.
Description[eu]=Errepideak, konoak eta gurpilak.
Description[fi]=Teitä, keiloja ja pyöriä.
Description[fr]=Routes, cônes et roues.
Description[ga]=Bóithre, cóin agus rothaí.
Description[gl]=Estradas, conos e rodas.
Description[hi]=रास्ते, कोन व चक्र
Description[hu]=Utak, kúpok és kerekek.
Description[id]=Jalan, kerucut dan roda.
Description[it]=Strade, ostacoli e ruote.
Description[kk]=Жол, бұрылыс және дөңгелектер.
Description[km]=ផ្លូវ​ កោណ និង​កង់ ។
Description[ko]=길, 콘, 바퀴.
Description[lv]=Ceļi, konusi un rati.
Description[mr]=रस्ते, कोन व चाके.
Description[nb]=Veier, kjegler og hjul
Description[nds]=Straten, Kegels un Rööd.
Description[nl]=Wegen, kegels en wielen.
Description[nn]=Vegar, kjegler og hjul.
Description[pl]=Drogi, stożki i koła.
Description[pt]=Estradas, cones e rodas.
Description[pt_BR]=Estradas, cones e rodas.
Description[ru]=дороги, конусы и колёса.
Description[sk]=Cesty, kužele a kolesá.
Description[sl]=Ceste, stožci in kolesa.
Description[sr]=Путеви, купе и точкови
Description[sr@ijekavian]=Путеви, купе и точкови
Description[sr@ijekavianlatin]=Putevi, kupe i točkovi
Description[sr@latin]=Putevi, kupe i točkovi
Description[sv]=Vägar, koner och hjul.
Description[tr]=Yollar, koniler ve tekerlekler.
Description[uk]=Дороги, повороти і колеса.
Description[x-test]=xxRoads, cones and wheels.xx
Description[zh_CN]=道路，圆锥和齿轮。
Description[zh_TW]=路，圓錐與輪子。
FileName=roads.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=roads_preview.png

