[KGameTheme]
VersionFormat=1
Name=Roads
Name[de]=Straßen
Name[el]=Δρόμοι
Name[et]=Teed
Name[ga]=Bóithre
Name[nds]=Straten
Name[nn]=Vegar
Name[pt]=Estradas
Name[pt_BR]=Estradas
Name[sv]=Vägar
Name[uk]=Дороги
Name[x-test]=xxRoadsxx
Description=Roads, cones and wheels.
Description[de]=Straßen, Kegel und Räder.
Description[el]=Δρόμοι, κώνοι και τροχοί.
Description[et]=Teed, rummud ja rattad.
Description[nds]=Straten, Kegels un Rööd.
Description[nn]=Vegar, kjegler og hjul.
Description[pt]=Estradas, cones e rodas.
Description[pt_BR]=Estradas, cones e rodas.
Description[sv]=Vägar, koner och hjul.
Description[uk]=Дороги, повороти і колеса.
Description[x-test]=xxRoads, cones and wheels.xx
Description[zh_TW]=路，圓錐與輪子。
FileName=Roads.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=roads_preview.png

