[KGameTheme]
VersionFormat=1
Name=Roads
Name[be]=
Name[br]=
Name[ca]=
Name[cs]=
Name[da]=
Name[de]=
Name[el]=
Name[eo]=
Name[es]=
Name[et]=
Name[fa]=
Name[fi]=
Name[fr]=
Name[ga]=
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[km]=
Name[ko]=
Name[lt]=
Name[lv]=
Name[nds]=
Name[ne]=
Name[nl]=
Name[nn]=
Name[oc]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ru]=
Name[sl]=
Name[sv]=
Name[te]=
Name[tr]=
Name[uk]=
Name[wa]=
Name[x-test]=
Name[zh_CN]=
Name[zh_TW]=
Description=Roads, cones and wheels.
FileName=Roads.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=roads_preview.png

