[KGameTheme]
VersionFormat=1
Name=Roads
Name[ca]=Carreteres
Name[da]=Veje
Name[de]=Straßen
Name[el]=Δρόμοι
Name[en_GB]=Roads
Name[es]=Carreteras
Name[et]=Teed
Name[eu]=Errepideak
Name[fr]=Routes
Name[ga]=Bóithre
Name[gl]=Estradas
Name[hu]=Utak
Name[it]=Strade
Name[km]=ផ្លូវ
Name[lv]=Ceļi
Name[nb]=Veier
Name[nds]=Straten
Name[nl]=Wegen
Name[nn]=Vegar
Name[pa]=ਰੋਡ
Name[pl]=Drogi
Name[pt]=Estradas
Name[pt_BR]=Estradas
Name[ro]=Drumuri
Name[ru]=Дороги
Name[sl]=Cesta
Name[sr]=Путеви
Name[sr@latin]=Putevi
Name[sv]=Vägar
Name[tr]=Yollar
Name[uk]=Дороги
Name[wa]=Voyes
Name[x-test]=xxRoadsxx
Name[zh_CN]=道路
Name[zh_TW]=Roads
Description=Roads, cones and wheels.
Description[ca]=Carreteres, cons i rodes.
Description[da]=Veje, kegler og hjul
Description[de]=Straßen, Kegel und Räder.
Description[el]=Δρόμοι, κώνοι και τροχοί.
Description[en_GB]=Roads, cones and wheels.
Description[es]=Carreteras, conos y ruedas.
Description[et]=Teed, rummud ja rattad.
Description[eu]=Errepideak, konoak eta gurpilak.
Description[fr]=Routes, cônes et roues.
Description[gl]=Estradas, conos e rodas.
Description[hu]=Utak, kúpok és kerekek.
Description[it]=Strade, ostacoli e ruote
Description[lv]=Ceļi, konusi un rati.
Description[nb]=Veier, kjegler og hjul
Description[nds]=Straten, Kegels un Rööd.
Description[nl]=Wegen, kegels en wielen.
Description[nn]=Vegar, kjegler og hjul.
Description[pl]=Drogi, stożki i koła.
Description[pt]=Estradas, cones e rodas.
Description[pt_BR]=Estradas, cones e rodas.
Description[ru]=дороги, конусы и колёса.
Description[sl]=Cesta, stožci in kolesa.
Description[sr]=Путеви, купе и точкови
Description[sr@latin]=Putevi, kupe i točkovi
Description[sv]=Vägar, koner och hjul.
Description[uk]=Дороги, повороти і колеса.
Description[x-test]=xxRoads, cones and wheels.xx
Description[zh_CN]=道路，圆锥和齿轮。
Description[zh_TW]=路，圓錐與輪子。
FileName=Roads.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=roads_preview.png

