[KGameTheme]
VersionFormat=1
Name=The Beach
Name[bs]=Plaža
Name[ca]=La platja
Name[ca@valencia]=La platja
Name[cs]=Pláž
Name[da]=Strand
Name[de]=Die Insel
Name[el]=Η παραλία
Name[en_GB]=The Beach
Name[es]=La playa
Name[et]=Rand
Name[eu]=Hondartza
Name[fi]=Ranta
Name[fr]=La plage
Name[ga]=An Trá
Name[gl]=A praia
Name[hi]=बीच शैली
Name[hu]=A part
Name[id]=Pantai
Name[it]=La spiaggia
Name[kk]=Жағажай
Name[km]=ឆ្នេរ​សមុទ្រ
Name[ko]=해변
Name[lt]=Paplūdimys
Name[lv]=Pludmale
Name[mr]=समुद्र किनारा
Name[nb]=Stranden
Name[nds]=De Strand
Name[nl]=The Beach
Name[nn]=Stranda
Name[pl]=Plaża
Name[pt]=A Praia
Name[pt_BR]=Praia
Name[ro]=Plaja
Name[ru]=Пляж
Name[sk]=Pláž
Name[sl]=Obala
Name[sr]=Плажа
Name[sr@ijekavian]=Плажа
Name[sr@ijekavianlatin]=Plaža
Name[sr@latin]=Plaža
Name[sv]=Stranden
Name[tr]=Sahil
Name[uk]=Пляж
Name[x-test]=xxThe Beachxx
Name[zh_CN]=海滩
Name[zh_TW]=海灘
FileName=the_beach.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=thebeach_preview.png

