[KGameTheme]
VersionFormat=1
Name=The Beach
Name[ca]=La platja
Name[de]=Die Insel
Name[en_GB]=The Beach
Name[es]=La playa
Name[et]=Rand
Name[gl]=A praia
Name[nds]=De Strand
Name[nn]=Stranda
Name[pt]=A Praia
Name[pt_BR]=A praia
Name[ro]=Plaja
Name[ru]=Пляж
Name[sr]=Плажа
Name[sr@latin]=Plaža
Name[sv]=Stranden
Name[tr]=Sahil
Name[uk]=Пляж
Name[x-test]=xxThe Beachxx
Name[zh_TW]=海灘
FileName=the_beach.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=thebeach_preview.png

