[KGameTheme]
VersionFormat=1
Name=The Beach
Name[es]=La playa
Name[pt]=A Praia
Name[pt_BR]=A praia
Name[sv]=Stranden
Name[uk]=Пляж
Name[zh_TW]=海灘
FileName=the_beach.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=thebeach_preview.png

